/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
    /**
    * colors
    */
  
    /* gradient */

    --bg-gradient-onyx: linear-gradient(
      to bottom right, 
      hsl(240, 1%, 25%) 3%, 
      hsl(0, 0%, 19%) 97%
    );
    --bg-gradient-jet: linear-gradient(
      to bottom right, 
      hsla(240, 1%, 18%, 0.251) 0%, 
      hsla(240, 2%, 11%, 0) 100%
    ), hsl(240, 2%, 13%);
    --bg-gradient-yellow-1: linear-gradient(
      to bottom right, 
      hsl(45, 100%, 71%) 0%, 
      hsla(36, 100%, 69%, 0) 50%
    );
    --bg-gradient-yellow-2: linear-gradient(
      135deg, 
      hsla(45, 100%, 71%, 0.251) 0%, 
      hsla(35, 100%, 68%, 0) 59.86%
    ), hsl(240, 2%, 13%);
    --border-gradient-onyx: linear-gradient(
      to bottom right, 
      hsl(0, 0%, 25%) 0%, 
      hsla(0, 0%, 25%, 0) 50%
    );
    --text-gradient-yellow: linear-gradient(
      to right, 
      hsl(45, 100%, 72%), 
      hsl(35, 100%, 68%)
    );

    /* solid */

    --jet: hsl(0, 0%, 22%);
    --onyx: hsl(240, 1%, 17%);
    --eerie-black-1: hsl(240, 2%, 13%);
    --eerie-black-2: hsl(240, 2%, 12%);
    --smoky-black: hsl(0, 0%, 7%);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 0%, 98%);
    --orange-yellow-crayola: hsl(45, 100%, 72%);
    --vegas-gold: hsl(45, 54%, 58%);
    --light-gray: hsl(0, 0%, 84%);
    --light-gray-70: hsla(0, 0%, 84%, 0.7);
    --bittersweet-shimmer: hsl(0, 43%, 51%);
    
    /**
    * typography
    */
    
    /* font-family */
    --ff-poppins: 'Poppins', sans-serif;
    
    /* font-size */
    --fs-1: 28px;
    --fs-2: 18px;
    --fs-3: 17px;
    --fs-4: 16px;
    --fs-5: 15px;
    --fs-6: 14px;
    --fs-7: 13px;
    --fs-8: 11px;
  
    /* font-weight */
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

html { font-family: var(--ff-poppins);}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.background-container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #0c0c0c;
}
.background-container .gradient-overlay {
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(to right, #4f4f4f2e 1px, transparent 1px),
              linear-gradient(to bottom, #8080800a 1px, transparent 1px);
  background-size: 14px 24px;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.sidebar,article {
  background: var(--eerie-black-2);
  border-radius: 20px;
  padding: 15px;
  z-index: 1; 
}

article { display: none; }

article.active { display: block;}

li { list-style: none; }
a {text-decoration: none;}


.h2,
.h3,
.h4,
.h5 {
  color: var(--white-2);
  text-transform: capitalize;
}

.h2 { font-size: var(--fs-1); }

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}
/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

main {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/

.sidebar {
  height: 700px;
  width: 270px;
  margin-top: 60px;
}
.sidebar-info{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.avatar-box {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  height: 157px;
  width: 160px;  
  background: var(--bg-gradient-onyx);
  border-radius: 30px;
}
.avatar{
  border-radius: 30px;
  margin-top: 15px;
  width: 128px;
  height: 128px;
}
.info-content .name{
  color: var(--white-1);
  font-size: var(--fs-1);
  font-weight: var(--fw-500);
}
.info-content .title {
  color: var(--white-1);
  background: var(--onyx);
  font-size: var(--fs-7);
  font-weight: var(--fw-300);
  width: max-content;
  padding: 5px 16px;
  border-radius: 8px;
  margin: auto;
}

.separator {
  height: 1px;
  background: var(--jet);
  margin: 16px 30px;
}

.contact-list {
  width: 100%;
  height: 100%;
  padding: 0;
  margin-left: 25px;
  margin-top: 30px;
}

.contact-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 46px;
  border-radius: 8px;
  background: var(--onyx);
}
.mail{
  color: #0884FF;
}
.phone{
  color: #31AB21;
}
.github{
  color: #fe0808ab;
}
.location{
  color: #62b1ff;
}
ion-icon{
  font-size: 30px;
}
.contact-link{
  color: var(--white-2);
  font-size: var(--fs-6);
}

/*-----------------------------------*\
  #MAIN-CONTENT
\*-----------------------------------*/

.main-content {
  position: relative;
  margin-top: 60px;
  height: 1300px;
  width: 1000px;
  margin-left: 30px;
}

/*-----------------------------------*\
  #NAVBAR
\*-----------------------------------*/

.navbar {
  position: absolute;
  right: 0;
  height: 55px;
  width: 350px;
  background: hsla(240, 1%, 17%, 0.75);
  backdrop-filter: blur(10px);
  border: 1px solid var(--jet);
  border-radius: 0 12px 0 12px;
  box-shadow: var(--shadow-2);
  z-index: 2;
  display: flex;
}

.navbar-list{ 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: 10px;
}
.navbar-item{
  padding-left: 15px;
}
.navbar-link{
  color: var(--light-gray);
  font-size: var(--fs-3);
  transition: color var(--transition-1);
}

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.article-title{
  margin-left: 20px;
}
.article-title::after {
  content: "";
  position: absolute;
  left: 35px;
  margin-top: 50px;
  width: 30px;
  height: 4px;
  background: var(--text-gradient-yellow);
  border-radius: 3px;
}
.about-text{
  margin-left: 20px;
  color: var(--light-gray);
  font-size: var(--fs-5);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

/**
 * #service 
 */

.service-title{
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 25px;
  margin-left: 20px;
}
.service-list{
  margin-left: 20px;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.service-item{
  display: flex;
  justify-content: center;
  width: 400px;
  height: 140px;
  position: relative;
  background: var(--border-gradient-onyx);
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  z-index: 1;
  padding-left: 20px;
}
.service-item::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}
.service-icon-box{
  margin-top: 20px;
  width: 80px;
  height: 80px;
}
.web{
  margin-top: 16px;
  width: 64px;
  height: 64px;
}
.algor{
  margin-top: 5px;
  width: 85px;
  height: 85px;
}
.mobile{
  margin-top: 12px;
  width: 64px;
  height: 64px;
}
.ai{
  margin-top: 15px;
  width: 64px;
  height: 64px;
}
.service-item-title{
  display: flex;
  margin-left: 20px;
  font-size: var(--fs-3);
  font-weight: var(--fw-500);
  margin-bottom: 5px;
  padding-bottom: 0;
}
.service-item-text{
  display: flex;
  margin-top: 0;
  padding-top: 0;
  margin-left: 20px;
  color: var(--light-gray);
  font-size: var(--fs-5);
  font-weight: var(--fw-3);
  line-height: 1.6;
}
.list-tools{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 100px;
}
.firebase{
  margin-top: 5px;
  width: 70px;
  height: 85px;
}

/*-----------------------------------*\
  #RESUME
\*-----------------------------------*/


/**
 * education and experience 
 */

.title-wrapper{
  display: flex;
  margin-left: 20px;
  margin-top: 50px;
  align-items: center;
}
.icon-box-2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 56px;
  border-radius: 8px;
  background: var(--onyx);
}
.book{
  font-size: 40px;
  color: var(--orange-yellow-crayola);
}
.education-sub{
  margin-left: 20px;
  color: var(--white-2);
  font-size: 24px;
  font-weight: var(--fw-600);
}

.timeline .title-wrapper {
  display: flex;
  align-items: center;
}

.timeline-list-1 {
  margin-left: 38px;
}

.timeline-item-1 { position: relative; }

.timeline-item-title-1 {
  font-size: var(--fs-3);
  font-weight: var(--fw-500);
  line-height: 1.3;
  margin-left: 20px;
}

.timeline-item-1:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -28px;
  width: 3px;
  height: calc(100% + 80px);
  background: var(--jet);
}

.timeline-item-1::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -31px;
  height: 9px;
  width: 10px;
  background: var(--text-gradient-yellow);
  border-radius: 80%;
  box-shadow: 0 0 0 5px var(--jet);
}
.timeline-list-2 {
  margin-left: 38px;
}

.timeline-item-2 { position: relative; }

.timeline-item-title-sub {
  font-size: var(--fs-3);
  font-weight: var(--fw-500);
  line-height: 1.3;
  margin-left: 40px;
  padding-bottom: 10px;
}

.timeline-item-title-2 {
  font-size: var(--fs-4);
  font-weight: var(--fw-500);
  line-height: 1.3;
  margin-bottom: 10px;
}

.timeline-item-2:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -28px;
  width: 3px;
  height: calc(100% + 80px);
  background: var(--jet);
}

.timeline-item-2::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -31px;
  height: 9px;
  width: 10px;
  background: #0884FF;
  border-radius: 80%;
  box-shadow: 0 0 0 5px var(--jet);
}
.timeline-list-2 span {
  color: var(--vegas-gold);
  font-weight: var(--fw-400);
  line-height: 1.6;
}
.timeline-text {
  margin-top: 5px;
  color: var(--light-gray);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

/**
 * skills 
 */

 .skills-list { 
  margin-left: 15px;
}
 
 .content-card {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 15px;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  cursor: pointer;
  z-index: 1;
}
.content-card::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}
.title-wrapper-2{
  display: flex;
  margin-top: 20px;
  margin-left: 30px;
  align-items: center;
}
.title-item{
  color: var(--white-1);
  font-size: var(--fs-3);
  font-weight: var(--fw-500);
}
data{
  color: var(--white-1);
  font-size: var(--fs-3);
  margin-left: 10px;
}
.skill-progress-bg {
  margin-top: 20px;
  margin-left: 30px;
  background: var(--jet);
  width: 80%;
  height: 8px;
  border-radius: 10px;
}
.skill-progress-fill {
  background: var(--text-gradient-yellow);
  height: 100%;
  border-radius: inherit;
}