/*-----------------------------------*\
  #PROPIEDADES PERSONALIZADAS
\*-----------------------------------*/

:root {
  /* colores */
  --gradiente-fondo-onyx: linear-gradient(to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97%);
  --gradiente-fondo-jet: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
  --gradiente-fondo-amarillo-1: linear-gradient(to bottom right, hsl(45, 100%, 71%) 0%, hsla(36, 100%, 69%, 0) 50%);
  --gradiente-fondo-amarillo-2: linear-gradient(135deg, hsla(45, 100%, 71%, 0.251) 0%, hsla(35, 100%, 68%, 0) 59.86%), hsl(240, 2%, 13%);
  --gradiente-borde-onyx: linear-gradient(to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50%);
  --gradiente-texto-amarillo: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));

  /* sólidos */
  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --negro-eerie-1: hsl(240, 2%, 13%);
  --negro-eerie-2: hsl(240, 2%, 12%);
  --negro-humo: hsl(0, 0%, 7%);
  --blanco-1: hsl(0, 0%, 100%);
  --blanco-2: hsl(0, 0%, 98%);
  --amarillo-naranja-crayola: hsl(45, 100%, 72%);
  --oro-vegas: hsl(45, 54%, 58%);
  --gris-claro: hsl(0, 0%, 84%);
  --gris-claro-70: hsla(0, 0%, 84%, 0.7);
  --brillo-amargo: hsl(0, 43%, 51%);
  
  /* tipografía */
  --fuente-poppins: 'Poppins', sans-serif;
  --tamano-fuente-1: 28px;
  --tamano-fuente-2: 18px;
  --tamano-fuente-3: 17px;
  --tamano-fuente-4: 16px;
  --tamano-fuente-5: 15px;
  --tamano-fuente-6: 14px;
  --tamano-fuente-7: 13px;
  --tamano-fuente-8: 11px;
  --peso-fuente-300: 300;
  --peso-fuente-400: 400;
  --peso-fuente-500: 500;
  --peso-fuente-600: 600;
}

/*-----------------------------------*\
#REINICIO
\*-----------------------------------*/

html { font-family: var(--fuente-poppins); }

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.fondo-contenedor {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #0c0c0c;
}

.fondo-contenedor .superposicion-gradiente {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(to right, #4f4f4f2e 1px, transparent 1px),
              linear-gradient(to bottom, #8080800a 1px, transparent 1px);
  background-size: 14px 24px;
}

/*-----------------------------------*\
#ESTILO REUTILIZADO
\*-----------------------------------*/

.barra-lateral, article {
  background: var(--negro-eerie-2);
  border-radius: 20px;
  padding: 15px;
  z-index: 1; 
}

article { display: none; }

article.activo { display: block; }

li { list-style: none; }
a { text-decoration: none; }

.h2, .h3, .h4, .h5 {
  color: var(--blanco-2);
  text-transform: capitalize;
}

.h2 { font-size: var(--tamano-fuente-1); }

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

/*-----------------------------------*\
#MAIN
\*-----------------------------------*/

main {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

/*-----------------------------------*\
#BARRA LATERAL
\*-----------------------------------*/

.barra-lateral {
  height: 700px;
  width: 270px;
  margin-top: 60px;
}

.info-barra-lateral {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.caja-avatar {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  height: 157px;
  width: 160px;  
  background: var(--gradiente-fondo-onyx);
  border-radius: 30px;
}

.avatar {
  border-radius: 30px;
  margin-top: 15px;
  width: 128px;
  height: 128px;
}

.contenido-info .nombre {
  color: var(--blanco-1);
  font-size: var(--tamano-fuente-1);
  font-weight: var(--peso-fuente-500);
}

.contenido-info .titulo {
  color: var(--blanco-1);
  background: var(--onyx);
  font-size: var(--tamano-fuente-7);
  font-weight: var(--peso-fuente-300);
  width: max-content;
  padding: 5px 16px;
  border-radius: 8px;
  margin: auto;
}

.separador {
  height: 1px;
  background: var(--jet);
  margin: 16px 30px;
}

.lista-contacto {
  width: 100%;
  height: 100%;
  padding: 0;
  margin-left: 25px;
  margin-top: 30px;
}

.item-contacto {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.caja-icono {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 46px;
  border-radius: 8px;
  background: var(--onyx);
}

.correo { color: #0884FF; }
.telefono { color: #31AB21; }
.github { color: #fe0808ab; }
.linkedin { color: #62b1ff; }
.cv { color: #fcff46; }

ion-icon {
  font-size: 30px;
}

.enlace-contacto {
  color: var(--blanco-2);
  font-size: var(--tamano-fuente-6);
}

/*-----------------------------------*\
#CONTENIDO PRINCIPAL
\*-----------------------------------*/

.contenido-principal {
  position: relative;
  margin-top: 60px;
  height: 1300px;
  width: 1000px;
  margin-left: 30px;
}

/*-----------------------------------*\
#BARRA DE NAVEGACIÓN
\*-----------------------------------*/

.barra-navegacion {
  position: absolute;
  right: 0;
  height: 55px;
  width: 250px;
  background: hsla(240, 1%, 17%, 0.75);
  backdrop-filter: blur(10px);
  border: 1px solid var(--jet);
  border-radius: 0 12px 0 12px;
  box-shadow: var(--sombra-2);
  z-index: 2;
  display: flex;
}

.lista-navegacion { 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: 10px;
}

.item-navegacion {
  padding-left: 15px;
}

.enlace-navegacion {
  color: var(--gris-claro);
  font-size: var(--tamano-fuente-3);
  transition: color var(--transicion-1);
}

/*-----------------------------------*\
#SOBRE MÍ
\*-----------------------------------*/

.titulo-articulo {
  margin-left: 20px;
}

.titulo-articulo::after {
  content: "";
  position: absolute;
  left: 35px;
  margin-top: 50px;
  width: 30px;
  height: 4px;
  background: var(--gradiente-texto-amarillo);
  border-radius: 3px;
}

.texto-sobre-mi {
  margin-left: 20px;
  color: var(--gris-claro);
  font-size: var(--tamano-fuente-5);
  font-weight: var(--peso-fuente-300);
  line-height: 1.6;
}

/*-----------------------------------*\
#MIS HABILIDADES
\*-----------------------------------*/

.mis-habilidades{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}
.skill-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 16px;
  width: 200px;
  height: 250px;
  background: #121212c4;
  border-radius: 8px;
  color: #FFFFFF;
}

.skill-tag {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  color: #FFFFFF;
}

.skill-name {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  margin: 0;
}

.skill-description {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #E0E0E0;
  margin: 0;
}
/*-----------------------------------*\
#SERVICIOS
\*-----------------------------------*/

.titulo-servicio {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 25px;
  margin-left: 20px;
}

.lista-servicios {
  margin-left: 20px;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.item-servicio {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 140px;
  position: relative;
  background: var(--gradiente-borde-onyx);
  border-radius: 14px;
  box-shadow: var(--sombra-2);
  z-index: 1;
  padding-left: 20px;
}

.item-servicio::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: var(--gradiente-fondo-jet);
  border-radius: inherit;
  z-index: -1;
}

.caja-icono-servicio {
  margin-top: 20px;
  width: 80px;
  height: 80px;
}

.icono-web, .icono-algoritmo, .icono-movil, .icono-ai {
  margin-top: 12px;
  width: 64px;
  height: 64px;
}

.titulo-item-servicio {
  display: flex;
  margin-left: 20px;
  font-size: var(--tamano-fuente-3);
  font-weight: var(--peso-fuente-500);
  margin-bottom: 5px;
}

.texto-item-servicio {
  display: flex;
  margin-top: 0;
  padding-top: 0;
  margin-left: 20px;
  color: var(--gris-claro);
  font-size: var(--tamano-fuente-5);
  font-weight: var(--peso-fuente-3);
  line-height: 1.6;
}

.lista-herramientas {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 100px;
}

.icono-herramienta {
  margin-top: 5px;
  width: 80px;
  height: 85px;
}
.icono-herramienta-arch {
  margin-top: 5px;
  width: 180px;
  height: 85px;
}
/*-----------------------------------*\
#HABILIDADES
\*-----------------------------------*/

.grid-container{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}
/*-----------------------------------*\
#RESUMEN
\*-----------------------------------*/

/* educación y experiencia */
.caja-titulo {
  display: flex;
  margin-left: 20px;
  margin-top: 50px;
  align-items: center;
}

.caja-icono-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 56px;
  border-radius: 8px;
  background: var(--onyx);
}

.libro {
  font-size: 40px;
  color: var(--amarillo-naranja-crayola);
}

.subtitulo-educacion {
  margin-left: 20px;
  color: var(--blanco-2);
  font-size: 24px;
  font-weight: var(--peso-fuente-600);
}

.linea-del-tiempo .caja-titulo {
  display: flex;
  align-items: center;
}

.lista-linea-del-tiempo-1 {
  margin-left: 38px;
}

.item-linea-del-tiempo-1 { position: relative; }

.titulo-item-linea-del-tiempo-1 {
  font-size: var(--tamano-fuente-3);
  font-weight: var(--peso-fuente-500);
  line-height: 1.3;
  margin-left: 20px;
}

.item-linea-del-tiempo-1:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -28px;
  width: 3px;
  height: calc(100% + 80px);
  background: var(--jet);
}

.item-linea-del-tiempo-1::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -31px;
  height: 9px;
  width: 10px;
  background: var(--gradiente-texto-amarillo);
  border-radius: 80%;
  box-shadow: 0 0 0 5px var(--jet);
}

.lista-linea-del-tiempo-2 {
  margin-left: 38px;
}

.item-linea-del-tiempo-2 { position: relative; }

.subtitulo-item-linea-del-tiempo {
  font-size: var(--tamano-fuente-3);
  font-weight: var(--peso-fuente-500);
  line-height: 1.3;
  margin-left: 40px;
  padding-bottom: 10px;
}

.titulo-item-linea-del-tiempo-2 {
  font-size: var(--tamano-fuente-4);
  font-weight: var(--peso-fuente-500);
  line-height: 1.3;
  margin-bottom: 10px;
}

.item-linea-del-tiempo-2:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -28px;
  width: 3px;
  height: calc(100% + 80px);
  background: var(--jet);
}

.item-linea-del-tiempo-2::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -31px;
  height: 9px;
  width: 10px;
  background: #0884FF;
  border-radius: 80%;
  box-shadow: 0 0 0 5px var(--jet);
}

.lista-linea-del-tiempo-2 span {
  color: var(--oro-vegas);
  font-weight: var(--peso-fuente-400);
  line-height: 1.6;
}

.texto-linea-del-tiempo {
  margin-top: 5px;
  color: var(--gris-claro);
  font-weight: var(--peso-fuente-300);
  line-height: 1.6;
}

/*-----------------------------------*\
#HABILIDADES
\*-----------------------------------*/

.lista-habilidades { 
  margin-left: 15px;
}

.tarjeta-contenido {
  position: relative;
  background: var(--gradiente-borde-onyx);
  padding: 15px;
  border-radius: 14px;
  box-shadow: var(--sombra-2);
  cursor: pointer;
  z-index: 1;
}

.tarjeta-contenido::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: var(--gradiente-fondo-jet);
  border-radius: inherit;
  z-index: -1;
}

.caja-titulo-2 {
  display: flex;
  margin-top: 20px;
  margin-left: 30px;
  align-items: center;
}

.item-titulo {
  color: var(--blanco-1);
  font-size: var(--tamano-fuente-3);
  font-weight: var(--peso-fuente-500);
}

data {
  color: var(--blanco-1);
  font-size: var(--tamano-fuente-3);
  margin-left: 10px;
}

.fondo-progreso-habilidad {
  margin-top: 20px;
  margin-left: 30px;
  background: var(--jet);
  width: 80%;
  height: 8px;
  border-radius: 10px;
}

.relleno-progreso-habilidad {
  background: var(--gradiente-texto-amarillo);
  height: 100%;
  border-radius: inherit;
}